@model IEnumerable<MVC_DataExploration.Models.Customer>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Create a New Entry</h1>
<form method="post">
    <input type="text" value="" name="First" />
    <input type="text" value="" name="Last" />
    <input type="text" value="" name="Address" />
    <input type="text" value="" name="City" />
    <input type="text" value="" name="State" />
    <input type="text" value="" name="Zip" />
    <input type="text" value="" name="LoyaltyCardId" />
    <input type="text" value="" name="FamilyCount" />
    <input type="submit" value="send"/>
</form>

